Veuillez vous identifier
<form action='{{ path('admin_login_check') }}' method='post'>
    <label for='_username'>Identifiant</label>
    <input type='text' name='_username' id='_username' value='{{ last_username }}'/><br/>
    <label for='_password'>Mot de passe</label>
    <input type='password' name='_password' id='_password' value=''/><br/>
    <input type='submit' value='Envoyer'/><br/>
    {% if error %}
        Identifiant/mot de passe incorrect
    {% endif %}
</form>
